[package]
name = "potenad"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = { version = "0.19.0", features = ["dark-light", "persistence"] }
egui = "0.19.0"
rfd = "0.10.0"
serde = { version = "1.0.148", features = ["derive"] }
sha2 = "0.10.6"
tokio = { version = "1.22.0", features = ["full"] }
toml = "0.5.9"
tracing = "0.1.37"
tracing-subscriber = "0.3.16"

# [target.'cfg(windows)'.dependencies]
# native-dialog = { version  = "0.6.3", features = ["windows_dpi_awareness", "windows_visual_styles"] }

# [target.'cfg(not(windows))'.dependencies]
# native-dialog = "0.6.3"
